* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

input::placeholder {
  padding-left: 8px;
  font-family: "Poppins", Times, serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #79797A;
}